@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

$fontFamily: Arial, Helvetica, sans-serif;
$fontSize: 1em;
$pcolor: white;

.wrapperMobil{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.2fr;
    width: 100%;
    height: 1000px;

    .topPic{
    margin-top: 50px;
    grid-column: 1/2;
    grid-row: 1/2;
    transform: translate(+4%);
    }

    .textMobil {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 0 30px;
    
        h1 {
          font-family: "Karantina";
          font-size: 2.3em;
          margin-top: -1px;
          margin-bottom: 20px;
        }

        .about {
            color: #184059;
        }

        .maintainable {
            color: #5d8aa6;
        }

        .contact {
            color: #bf7b3f;
        }
    
        p {
            font-family: $fontFamily;
            font-size: $fontSize;
            color: $pcolor;
            line-height: 1.4em;
            text-align: justify;
        }
    }

    .staffMobil {
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 350px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr;
        margin-right: 40px;
        margin-left: 40px;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
      }

    .logo{
        grid-column: 1/2;
        grid-row: 3/4;
        transform: translate(+73%);
    } 


}
